# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/

#sessions save folder
sessions/

# PyInstaller files
build/
dist/
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

#old tracker
tracker_old.py

# IDE-specific files (add or remove as needed)
.vscode/
.idea/
*.swp
*.swo
*.bak

# Logs
*.log

# Miscellaneous
*.DS_Store
*.egg-info/
*.egg
*.pyd
*.so
